[phases.setup]
nixPkgs = ["nodejs", "npm", "python3", "python311Packages.pip"]

[phases.install]
cmds = ["npm install", "pip install -r requirements.txt"]

[phases.start]
cmd = "python3 app.py & node server.js"